.right-header {

    max-width: 25vw;
    position: relative;
    left: 10vw;
    top: -2vh;

}

.header {
    display: flex;
    justify-content: space-around;
}

body {

    margin: 6%;
}

.vert {

    margin: 2%;
    text-orientation: mixed;
    writing-mode: vertical-lr;


}
.flex-element
{
    display: flex;
}
.Grid{

    margin-top: 4vh;
    display: grid;
    grid-template: repeat(2, auto)/ repeat(3, auto);
    grid-row-gap: 7vh;

}

.container-2, .container-5 {
    position: relative;
    top: 10vh;
}


.img1 {

    max-width: 70%;

}


@media only screen and (max-width: 600px) {
    .Grid {
        grid-template: repeat(2, auto)/ repeat(2, auto);
    }

    .header {
        flex-direction: column;
        justify-content: start;
    }

    .container-5 {
        position: relative;
        top: 0vh;
    }

    .container-2, .container-4, .container-6 {
        position: relative;
        top: 5vh;
    }

    .right-header {
        width: 25vw;
        left: 0vw;
        top: 0vh;
        min-width: 25vh;

    }

}